<div class="container" style="padding: 30px">

  <div class="card border-primary mb-3">
    <h3 class="card-header">Podsumowanie</h3>

    <div class="card-body">
      <img class="rounded-circle" style="margin-bottom: -68px;" src="/assets/pictures/cardiogram.png" width="80" height="80">
      <h1 style="margin-left: 100px; margin-bottom: 25px;">Parametry ciała</h1>
    </div>

    <app-bmr-results></app-bmr-results>

    <div class="card-body">
      <img class="rounded-circle" style="margin-bottom: -68px;" src="/assets/pictures/juice.png" width="80" height="80">
      <h1 style="margin-left: 100px; margin-bottom: 25px;">Dieta</h1>
    </div>

    <div class="card-body">
      <img class="rounded-circle" style="margin-bottom: -68px;" src="/assets/pictures/weight.png" width="80" height="80">
      <h1 style="margin-left: 100px; margin-bottom: 25px;">Ćwiczenia</h1>
    </div>

    <div class="card-body">

      <button routerLink="/home" class="btn btn-info btn-lg btn-block">Powrót do strony głównej</button>


    </div>

  </div>

</div>