<div class="container" style="padding: 30px">

  <div class="card border-primary mb-3">
    <h3 class="card-header">Twoje zapotrzebowanie kaloryczne (BMR)</h3>
    <div class="card-body">
      <!--img style="height: 200px; width: 200px; display: block;" src="/assets/pictures/blender.png" alt="Card image"-->
      <div class="row" style="text-align: center">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/pictures/measuring-tape.png" width="140" height="140">
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/pictures/proteins.png" width="140" height="140">
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/pictures/weight-2.png" width="140" height="140">
        </div>
        <!-- /.col-lg-4 -->
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Kalkulator kalorii - oblicz swoje dzienne zapotrzebowanie kaloryczne</h5>
      <h6 class="card-subtitle text-muted">Dowiedz się co to jest BMR kalkulator oraz o czym informuje współczynnik BMR. Poznaj swoje zapotrzebowanie energetyczne
        – i odżywiaj się tak jak należy.
        <br>
        <br> Trenując musisz zdawać sobie sprawę jakie jest Twoje dzienne zapotrzebowanie na kalorie oraz dieta. Do tego przyda
        Ci się licznik kalorii aby wiedzieć ile kalorii dziennie powinieneś spożywać a tabela kalorii, uświadomi Ci np. ile
        kalorii ma banan, pizza, chleb, bułka czy zupa. Służy do tego nasz kalkulator spalania kalorii oraz kalkulator BMR.
        Możesz wykorzystywać go każdego dnia lub okresowo aby obliczać dokładnie swoje zapotrzebowanie kaloryczne.</h6>
    </div>
  </div>

  <div *ngIf="!canShowResults" class="card border-primary">
    <div class="card-body">

      <legend>Płeć:</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" [value]="0" [(ngModel)]="user.Gender" checked="">Mężczyzna
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" [value]="1" [(ngModel)]="user.Gender">Kobieta
        </label>
      </div>

      <div class="form-group">
        <legend>Masa ciała (kg):</legend>
        <input type="number" class="form-control" min="1" [(ngModel)]="user.Weight" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="kg">
      </div>

      <div class="form-group">
        <legend>Wiek (lata):</legend>
        <input type="number" min="1" class="form-control" id="exampleInputEmail1" [(ngModel)]="user.Age" aria-describedby="emailHelp"
          placeholder="lata">
      </div>

      <div class="form-group">
        <legend>Wzrost (cm):</legend>
        <input type="number" class="form-control" min="1" id="exampleInputEmail1" [(ngModel)]="user.Height" aria-describedby="emailHelp"
          placeholder="cm">
      </div>

      <div class="form-group">
        <legend>Masa mięśniowa (kg):</legend>
        <input type="number" class="form-control" min="1" id="exampleInputEmail1" [(ngModel)]="user.MuscleMass" aria-describedby="emailHelp"
          placeholder="cm">
        <small>Parametr opcjonalny</small>
      </div>

      <div class="form-group">
        <legend>Ilość tłuszczu w ciele (%):</legend>
        <input type="number" class="form-control" min="1" max="100" id="exampleInputEmail1" [(ngModel)]="user.FatPercent" aria-describedby="emailHelp"
          placeholder="cm">
        <small>Parametr opcjonalny</small>
      </div>

      <div class="form-group">
        <legend>Ilość wody w ciele (%):</legend>
        <input type="number" class="form-control" min="1" max="100" id="exampleInputEmail1" [(ngModel)]="user.WaterPercent" aria-describedby="emailHelp"
          placeholder="cm">
        <small>Parametr opcjonalny</small>
      </div>

      <legend>Aktywność fizyczna:</legend>
      <select [(ngModel)]="user.PhisicalActivity" class="form-control" id="exampleSelect1">
        <option value="" disabled selected>Wybierz rodzaj aktywności fizycznej</option>
        <option *ngFor="let activity of activities; let i = index" [value]="i">{{activity}}</option>
      </select>

      <legend>Metabolism:</legend>
      <div class="row">
        <div class="col-sm-10">
          <select [(ngModel)]="user.Metabolism" class="form-control" id="exampleSelect1">
            <option *ngFor="let meta of metabolism; let i = index" [value]="i">{{meta}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-info btn-block">Co wybrać?</button>
        </div>
      </div>

      <legend>Planuje:</legend>
      <select class="form-control" [(ngModel)]="user.Plans" id="exampleSelect1">
        <option value='-1' disabled selected>Wybierz co chcesz osignąć</option>
        <option *ngFor="let plan of plans; let i = index" [value]='i'>{{plan}}</option>
      </select>

    </div>

    <div class="card-body">
      <button (click)="calcBmr()" class="btn btn-primary btn-lg btn-block">Przelicz wskaźnik BMR</button>
    </div>
  </div>
  

  <div *ngIf="canShowResults" class="card border-primary mb-3">
    <h3 class="card-header">Wyniki</h3>
    <app-bmr-results></app-bmr-results>
    <div class="card-body">
      <div class="row">
        <div class="col col-sm-6">
          <button (click)="hideResults()" class="btn btn-warning btn-lg btn-block">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Wstecz</button>
        </div>
        <div class="col col-sm-6">
          <button routerLink="/diet/" class="btn btn-info btn-lg btn-block">Dalej
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>


  <div id="myModal" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Jaki metabolizm wybrać</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <h2> Ektomorfik</h2>
          <p>Jeśli jesteś ektomorfikiem, jesteś naturalnie chudy i masz kościste kończyny oraz wysoką tolerancję węglowodanów.
            Zwykle, twój metabolizm jest szybki.</p>

          <h3>Mezomorfik</h3>
          <p>Mezomorfik to człowiek o muskularnej i atletycznej budowie. Ma średnią tolerancję węglowodanów i średni metabolizm.
          </p>

          <h3> Endomorfik</h3>
          <p>Jeśli naturalnie jesteś szerokiej i krępej budowy, prawdopodobnie jesteś endomorfikiem. Endomorficy mają niską
            tolerancję na węglowodany i wolny metabolizm.</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>

</div>