<div class="container" style="padding: 30px">

  <div class="card border-primary mb-3">
    <h3 class="card-header">Dobieranie odpowiedniej diety</h3>
    <div class="card-body">
      <!--img style="height: 200px; width: 200px; display: block;" src="/assets/pictures/blender.png" alt="Card image"-->
      <div class="row" style="text-align: center">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/pictures/juice.png" width="140" height="140">
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/pictures/water-bottle.png" width="140" height="140">
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/pictures/fast-food.png" width="140" height="140">
        </div>
        <!-- /.col-lg-4 -->
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Odpowiedz na pytania aby system mógł ustalić dietę</h5>
      <h6 class="card-subtitle text-muted">W wyborze odpowiedniej diety najważniejszym kryterium powinny być twoje nawyki żywieniowe. Co lubisz jeść najbardziej?
        Wolisz mięso, czy preferujesz warzywa? Co jest twoją największą słabością? Podjadanie między posiłkami? A może nieokiełznana
        miłość do słodyczy?
      </h6>
    </div>
  </div>
</div>