<div class="container" style="padding: 30px">

  <!-- Opis -->
  <div class="card border-primary mb-3">
    <h3 class="card-header">Dobieranie odpowiedniej diety</h3>
    <div class="card-body">
      <!--img style="height: 200px; width: 200px; display: block;" src="/assets/pictures/blender.png" alt="Card image"-->
      <div class="row" style="text-align: center">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/pictures/juice.png" width="140" height="140">
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/pictures/water-bottle.png" width="140" height="140">
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/pictures/fast-food.png" width="140" height="140">
        </div>
        <!-- /.col-lg-4 -->
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Odpowiedz na pytania aby system mógł ustalić dietę</h5>
      <h6 class="card-subtitle text-muted">W wyborze odpowiedniej diety najważniejszym kryterium powinny być twoje nawyki żywieniowe. Co lubisz jeść najbardziej?
        Wolisz mięso, czy preferujesz warzywa? Co jest twoją największą słabością? Podjadanie między posiłkami? A może nieokiełznana
        miłość do słodyczy?
      </h6>
    </div>
  </div>

  <!-- Ankieta -->
  <div *ngIf="!canShowResults" class="card border-primary">

    <div class="card-body">

      <legend>Preferencje żywieniowe:</legend>
      <select class="form-control" id="exampleSelect1">
        <option *ngFor="let pref of foodPreferences; let i = index" [value]="i">{{pref}}</option>
      </select>

      <legend>Alergie</legend>
      <div class="form-check" *ngFor="let allergyName of allergies; let i = index">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [checked]="allergy[i]" (change)="allergy[i] = !allergy[i]"> {{allergyName}}
        </label>
      </div>

      <legend>Ilość wolnego czasu:</legend>
      <p class="coment">Ilość czasu jaką jesteś w stanie przeznaczyć na przygotowanie posiłków</p>
      <select class="form-control" id="exampleSelect1">
        <option *ngFor="let s of scale; let i = index" [value]="i">{{s}}</option>
      </select>

      <legend>Gotówka:</legend>
      <p class="coment">Jak wiele jesteś w stanie przeznaczyć na jedzenie</p>
      <select class="form-control" id="exampleSelect1">
        <option *ngFor="let s of scale; let i = index" [value]="i">{{s}}</option>
      </select>


      <legend>Zaangarzowanie:</legend>
      <p class="coment">Jak bardzo jesteś zdeterminowany do przestrzegania diety</p>
      <select class="form-control" id="exampleSelect1">
        <option *ngFor="let s of scale; let i = index" [value]="i">{{s}}</option>
      </select>

    </div>
    <div class="card-body">
      <button (click)="showResults()" class="btn btn-secondary btn-lg btn-block">Wyznacz dietę</button>
    </div>
  </div>

  <!-- Wyniki -->
  <div *ngIf="canShowResults" class="card border-primary mb-3">
    <h3 class="card-header">Wyniki</h3>

    <app-diet-results></app-diet-results>

    <div class="card-body">
      <div class="row">
        <div class="col col-sm-6">
          <button (click)="hideResults()" class="btn btn-warning btn-lg btn-block">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Wstecz</button>
        </div>
        <div class="col col-sm-6">
          <button routerLink="/sport/" class="btn btn-info btn-lg btn-block">Dalej
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>