<div class="container" style="padding: 30px">

  <!-- Opis -->
  <div class="card border-primary mb-3">
    <h3 class="card-header">Dobieranie ćwiczeń</h3>
    <div class="card-body">
      <!--img style="height: 200px; width: 200px; display: block;" src="/assets/pictures/blender.png" alt="Card image"-->
      <div class="row" style="text-align: center">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/pictures/barbell.png" width="140" height="140">
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/pictures/weight-1.png" width="140" height="140">
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/pictures/wheel.png" width="140" height="140">
        </div>
        <!-- /.col-lg-4 -->
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Odpowiedz na pytania aby system mógł dobrać odpowiednie dla ciebie ćwiczenia</h5>
      <h6 class="card-subtitle text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo omnis porro explicabo ratione quam cupiditate debitis
        reiciendis. Tempore hic odio sequi consectetur beatae dicta quia esse totam culpa, impedit sapiente.
      </h6>
    </div>
  </div>

  <!-- Ankieta -->
  <div *ngIf="!canShowResults" class="card border-primary">


    <div class="card-body">

      <legend>Czy potrafisz pływać?:</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" [value]="true" [(ngModel)]="sport.CanSwim" checked="">Tak
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" [value]="false" [(ngModel)]="sport.CanSwim" checked="">Nie
        </label>
      </div>

      <legend>Zaznacz przypadłości które cię dotyczą</legend>
      <div class="form-check" *ngFor="let cpName of contraPartial; let i = index">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [checked]="cp[i]" (change)="cp[i] = !cp[i]"> {{cpName}}
        </label>
      </div>
      <div class="form-check" *ngFor="let cpName of contra; let i = index">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [checked]="c[i]" (change)="c[i] = !c[i]"> {{cpName}}
        </label>
      </div>

      <legend>Ilość wolnego czasu:</legend>
      <p class="coment">Ilość czasu jaką jesteś w stanie przeznaczyć na przygotowanie posiłków</p>
      <select class="form-control" [(ngModel)]="sport.Time">
        <option *ngFor="let s of scale; let i = index" [value]="i">{{s}}</option>
      </select>

      <legend>Gotówka:</legend>
      <p class="coment">Jak wiele jesteś w stanie przeznaczyć na jedzenie</p>
      <select class="form-control" [(ngModel)]="sport.Money">
        <option *ngFor="let s of scale; let i = index" [value]="i">{{s}}</option>
      </select>


      <legend>Zaangarzowanie:</legend>
      <p class="coment">Jak bardzo jesteś zdeterminowany do przestrzegania diety</p>
      <select class="form-control" [(ngModel)]="sport.Engagement">
        <option *ngFor="let s of scale; let i = index" [value]="i">{{s}}</option>
      </select>

    </div>

    <div class="card-body">
      <button (click)="showResults()" class="btn btn-secondary btn-lg btn-block">Dobierz ćwiczenia</button>
    </div>
  </div>

  <!-- Wyniki -->
  <div *ngIf="canShowResults" class="card border-primary mb-3">
    <h3 class="card-header">Wyniki</h3>

    <app-sport-results></app-sport-results>

    <div class="card-body">
      <div class="row">
        <div class="col col-sm-6">
          <button (click)="hideResults()" class="btn btn-warning btn-lg btn-block">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Wstecz</button>
        </div>
        <div class="col col-sm-6">
          <button routerLink="/summary/" class="btn btn-info btn-lg btn-block">Dalej
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>