<div>
  <div class="jumbotron">
    <div class="container">

      <h1>Dobierz własną dietę!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto autem nihil voluptatibus laudantium cum quaerat dolorem
        consequuntur voluptate repellendus consectetur id, fugit voluptatum facere molestiae iure, deleniti nobis debitis
        non.
      </p>
      <div style="">
        <button style="font-size: 20pt" class="btn btn-info"> Start »</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="text-align: center">
      <div class="col-lg-4">
        <img class="rounded-circle" src="/assets/pictures/blender.png" width="140" height="140">
        <h2>Dieta</h2>
        <p>Dobierz automatycznie zbilansowaną dietę indywidualnie dopasowana do twoich dziennych zapotrzebowań. Dodatkowo doradca
          diety pozwala na utworzenie diet wegetariańskich czy wegańskich! </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="/assets/pictures/stationary-bike.png" width="140" height="140">
        <h2>Ćwiczenia</h2>
        <p>Łatwe i przyjemne ćwiczenia które pozwolą ci szybko uzyskać zrzucić zbędne kilogramy czy też zbudować masę mięśniową.
          Wszystko specjalnie dopasowane do twoich oczekiwań. </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="/assets/pictures/smartwatch.png" width="140" height="140">
        <h2>Samopoczucie</h2>
        <p>Popraw własne samopoczucie dzięki ćwiczeniom i odpowiedniej diecie.  Wymarzona sylwetka stoi na wyciągnięcie ręki!</p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
</div>