.jumbotron{
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0.1)
      ),
     url('/assets/pictures/bg2.png');
    color: white;
    font-size: 14pt;
    border-radius: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    
}

h1{
    color: white;
}
